.input {
  padding: 0 5px;
  height: 25px;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: #d1d5db;
  color: #252525;
}
.input::placeholder {
  color: #5f5f5f;
}
.inputError {
  padding: 0 5px;
  height: 25px;
  border-radius: 0.5rem;
  border: 1px solid red;
  color: red;
}
.input:focus,
.inputError:focus {
  outline: none;
  background-color: white;
}
